<!DOCTYPE html>
<!-- _layout.cshtml -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
@await Html.PartialAsync("partials/_head.cshtml")
<body class="relative flex flex-col bg-zinc-200 dark:bg-slate-800 text-zinc-800 dark:text-zinc-100">
  <div class="flex flex-col flex-grow mx-auto lg:w-3/4">
    <button id="menu-toggle" class="bg-white text-gray-900 hover:bg-gray-100 text-blue-500 border border-blue-500 font-semibold py-2 px-4 rounded md:hidden">Table of contents</button>
    @await Html.PartialAsync("partials/_header.cshtml")
    <!-- Main  -->
    <div class="flex flex-row flex-grow w-full mx-auto mt-2">

      <div id="left-sidebar-container" class="fixed hidden w-full md:block md:w-1/3 md:relative z-50 bg-zinc-200 dark:bg-slate-800 text-zinc-800 dark:text-zinc-100">
        @await Html.PartialAsync("partials/_sidebar.cshtml")
      </div>

      <div class="full md:w-2/3 mx-4">

        @await Html.PartialAsync("partials/_main-header.cshtml")
        @await Html.PartialAsync("partials/_before-document-body.cshtml")

        <main class="my-4 prose max-w-none prose-h1:mb-1 prose-h2:mb-1 prose-h3:mb-1 prose-h4:mb-1 prose-h5:mb-1 prose-h6:mb-1 bg-zinc-200 dark:bg-slate-800 dark:prose-invert">
          @RenderBody()
        </main>

        <!-- Main Footer -->
        @* @Html.Partial("partials/_main-footer.cshtml") *@
      </div>
    </div>
    @* @Html.Partial("partials/_footer.cshtml") *@
    @await Html.PartialAsync("partials/_scripts.cshtml")
  </div>  
  @await Html.PartialAsync("partials/_search-model.cshtml")
</body>
</html>
