<!-- _announcement.cshtml -->

<div class="flex flex-col items-center text-center text-slate-900">
    <div class="flex flex-col m-1 rounded-lg mb-10 ">
        <span class="p-4 text-xl rounded-t-lg bg-violet-400">
            Join Peter Morris, for live Blazor coding!
        </span>
        <a href="https://www.twitch.tv/mrpeterlmorris/schedule?seriesID=2a667d82-38aa-4aac-9909-b0e7682236a8"
           class="p-2 rounded-b-lg bg-slate-300 ">
            Wednesday at 5pm (UK Time) on Twitch.Tv
        </a>
    </div>
</div>
