<a href="https://github.com/mrpmorris/AutoRegister">
   <div class="border-4 border-gray-300 dark:border-gray-700 rounded px-5 py-2 my-4 lg:mx-8 bg-slate-300 dark:bg-slate-700">
      <div class="flex items-start gap-4">
         <img src="/images/auto-register.png"
            alt="AutoRegister"
            class="shrink-0 w-auto h-auto" />
         <p class="flex-1">
         <div>
            <span class="font-bold text-lg">Automatic Dependency Injection Registration for .NET.</span>
            <p>
               I built my free open-source AutoRegister library to remove the repetitive DI wiring in .NET
               projects. It discovers and registers implementations at build time, no start-up reflection
               cost, discovers Roslyn generated dependencies, and is 100% AOT compatible.
               <span class="underline">See it on GitHub.</span>
            </p>
         </div>
         </p>
      </div>
   </div>
</a>
