<!--
<a href="https://www.telerik.com/blazor-ui?utm_source=blazor-university&amp;utm_medium=cpm&amp;utm_campaign=blazor-trial-sponsored-message">
    <div class="border-4 border-gray-300 dark:border-gray-700 rounded px-5 py-2 my-4 lg:mx-8 rounded  bg-slate-300 dark:bg-slate-700">
        <h4>
            <span>Sponsored By</span>
            <svg width="57" height="6" viewBox="0 0 57 6" fill="none" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round">
                <path d="M1 5C1 5 28.2993 0.0122221 56 1.17604" stroke="#EA580C"></path>
            </svg>
        </h4>
        <p>
            <span class="font-bold">Telerik UI for Blazor</span> – 95+ truly native Blazor UI
            components for any app scenario, including a high-performing Grid. Increase productivity
            and cut cost in half!
            <span class="underline">Give it a try for free.</span>
        </p>
    </div>
</a>
-->
