<!-- _edit-in-github-link.cshtml -->
@{
    string editRoot = Document.GetString(MetaDataKeys.EditRoot);
    var markdownPath = Document.Source.GetRelativeInputPath();
    string gitHubEditUrl = $"{editRoot}/{markdownPath}";
    string? editLink =
      Document.ContainsKey(MetaDataKeys.EditLink) ?
        Document.GetString(MetaDataKeys.EditLink) :
        (Document.ContainsKey(MetaDataKeys.EditRoot) ?
          Document.GetString(MetaDataKeys.EditRoot) + "/" + Document.Source.GetRelativeInputPath()
          : null);
}

<a class="text-sm font-normal ml-4" href="@editLink" target="_blank">
    @await Html.PartialAsync("icons/_pencil-square.cshtml")
    <span>
        Edit
    </span>
</a>
