<!-- _main-header.cshtml -->
@{

}
<header>
    <div class="flex flex-row justify-between">

        <h1 class="text-4xl font-bold tracking-tight sm:text-5xl">
            @Title
        </h1>
        @await Html.PartialAsync("_edit-in-github-link.cshtml")
    </div>
    <div class="invisible mt-4 text-sm text-center text-blue-500 uppercase">
        @PublishedDate
    </div>
    @* @Html.Partial("_tags.cshtml") *@
    <!--image-->
</header>
