<!-- _main-header.cshtml -->
@{

}
<header>
	<h1 class="contract-status">
		Author status: 
		<a href="https://www.linkedin.com/in/peter-morris-007572a7/" target=_blank>I'm available for contract work</a>
	</h1>

    <div class="flex flex-row justify-between">
        <h1 class="text-4xl mb-2 font-bold tracking-tight sm:text-5xl">
            @Title
        </h1>
        <div class="mx-4 -mt-4">
            @await Html.PartialAsync("_edit-in-github-link.cshtml")
        </div>
    </div>
</header>
