<!-- _search.cshtml -->
@{
  // TODO: connect this up
}
<div class="">
  <button
    type="button"
    class="group flex h-6 w-6 items-center justify-center sm:justify-start md:h-auto md:w-80 md:flex-none md:rounded-lg md:py-2.5 md:pl-4 md:pr-3.5 md:text-sm md:ring-1 md:ring-slate-200 md:hover:ring-slate-300 dark:md:bg-slate-800/75 dark:md:ring-inset dark:md:ring-white/5 dark:md:hover:bg-slate-700/40 dark:md:hover:ring-slate-500 lg:w-96"
    onClick="TODO:"
  >
    @await Html.PartialAsync("icons/_magnifying-glass.cshtml")

    <span class="sr-only md:not-sr-only md:ml-2 md:text-slate-500 md:dark:text-slate-400">
      Search docs Coming soon!
    </span>
    <kbd class="hidden ml-auto font-medium text-slate-400 dark:text-slate-500 md:block">
      <kbd class="font-sans">⌘</kbd>
      <kbd class="font-sans">Ctrl</kbd>
      <kbd class="font-sans">K</kbd>
    </kbd>
  </button>
</div>
