<!-- _search.cshtml -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.0.4/pako.min.js"></script>
<script src="@Context.GetLink("search.js")"></script>

@{
  // TODO: connect this up
}

<div class="flex md:h-auto md:w-80 md:flex-none  md:py-2.5 md:pl-4 md:pr-3.5">
  <div class="group flex flex-col">
    <div class="group flex h-6 min-width-auto items-center justify-center sm:justify-start ">
      <input id="searchbox"
        class="group flex h-6 w-6 items-center justify-center sm:justify-start md:h-auto md:w-80 md:flex-none md:rounded-lg md:py-2.5 md:pl-4 md:pr-3.5 md:text-sm md:ring-1 md:ring-slate-200 md:hover:ring-slate-300 dark:md:bg-slate-800/75 dark:md:ring-inset dark:md:ring-white/5 dark:md:hover:bg-slate-700/40 dark:md:hover:ring-slate-500 lg:w-96"
        placeholder="search...">
      <span class="sr-only md:not-sr-only md:ml-2 md:text-slate-500 md:dark:text-slate-400">
      </span>
      @* <kbd class="flex space-x-3 ml-auto font-medium text-slate-400 dark:text-slate-500  ">
        <kbd class="font-sans">⌘</kbd>
        <kbd class="font-sans">Ctrl</kbd>
        <kbd class="font-sans">K</kbd>
      </kbd> *@
    </div>
    <div
      class="flex hidden rounded-lg py-1 px-1 ring-1 ring-slate-900/5 shadow-xl my-2 min-h-5 max-w-80 min-w-10 overflow-auto  justify-center sm:justify-start dark:md:bg-slate-800/75"
      id="search-trigger">
      <ul class="overflow-auto  grow  h-24 text-left " id="search-results">
      </ul>
    </div>
  </div>

</div>

<script>

  const message = document.querySelector('#searchbox');
  var ul = document.querySelector('#search-results');
  var searchTrigger = document.querySelector('#search-trigger');
  var query;

  // search trigger
  message.addEventListener('input', function () {
    query = this.value;

    if (query.length != 0) {
      var results = search.search(query, searchResultsAppend, true);
    }
    else {
      searchTrigger.classList.add("hidden");
    }
  });

  function searchResultsAppend(results) {
    // un-hide
    searchTrigger.classList.remove("hidden");

    if (results.length == 0) 
    {
      // clear child nodes
      ul.innerHTML = "";
      ul.textContent = "";

      const li = document.createElement("li");
      const p = document.createElement("p");
      p.innerHTML = "No results found";
      li.appendChild(p);
      ul.append(li);
    }
    else {
       // clear child nodes
      ul.innerHTML = "";
      ul.textContent = "";

      for (var i = 0; i < results.length; ++i) {
        var res = results[i];
        var content;
        const li = document.createElement("li");
        const a = document.createElement("a")
        a.classList.add("text-ellipsis");
        a.classList.add("bg-clip-padding");
        a.classList.add("underline");
        a.classList.add("decoration-wavy");
        a.classList.add("decoration-sky-500");
        a.href = res.link;
        a.innerHTML = res.title;
        li.classList.add("hover:dark:md:bg-slate-700/75")
        li.appendChild(a);
        ul.append(li);
      }

    }

  }

</script>
