<!-- _sidebar.cshtml -->
<section id="left-sidebar" class="flex flex-col justify-between">
    <nav class="content-menu">
        @await Html.PartialAsync("_tree.cshtml", GetRoot())
    </nav>
</section>
