@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate {
  @apply rotate-90;
  @apply transform;
  @apply transition;
  @apply duration-300;
}

.rotated {
  @apply rotate-90;
  @apply transform;
}

.active {
  @apply text-gray-800;
  @apply bg-white;
  @apply font-semibold !important;
  @apply dark:text-gray-100;
  @apply dark:bg-zinc-700;
}

.contract-status {
  background-color: green;
  color: white;
  padding: 0.25rem;
}

  .contract-status a {
    text-decoration: underline;
  }
